/* global css */
header nav ul{
    display: flex;
    padding:0;
    margin:0;
    list-style: none;
  }
  
  header nav ul a{
    color:white;
    text-decoration: none;
    padding:0 8px;
  }